.shop-card {
  max-width: 232px;
  padding: 5px;
  position: relative;
}
.shop-card__view {

}
.sc-poster {
  width: 232px;
  height: 352px;
  overflow: hidden;
  border-radius: 35px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.sc-poster__img {
  width: 100%;
  height: 100%;
}

.sc-rating {
  width: 70px;
  height: 40px;
  border-radius: 0 20px 0 0;
  border: 1px solid white;
  background: white;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sc-rating__star {

}
.sc-rating__point {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  padding-left: 5px;
}
.shop-card__info {
  display: grid;
}
.sc-comics-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 0 5px 0;
  z-index: 1
}
.shop-card:hover .sc-comics-name {
  color: white;
  transition-duration: 1s;
}
.sc-collection-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  z-index: 1
}
.shop-card:hover .sc-collection-name {
  color: white;
  transition-duration: 1s;
}

.shop-card__price-box {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #EE171F;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
}
.shop-card:hover .shop-card__price-box {
  bottom: 40px;
  transition-duration: 1s;
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  background-color: #DBDBDB;
  width: 104px;
  height: 82px;
  margin: 10px;
}

.button-basic {
  display: inline-block;
  background: #EE171F;
  color: #FFFFFF;
  padding: 5px 25px;
  border-radius: 11.5px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  position: relative;
}

.button a {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.button-basic_full {
  display: block;
}

.button-basic_white {
  background: #FFFFFF;
  color: #000000;
}

.button-basic_shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.form-input {
  background-color: rgba(189, 165, 165, 0.62);
  padding: 30px;
}

.form-input__search {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.form-input__input:focus {
  border: 1px solid #EE171F;
  padding: 9px 18px 9px 11px;
}

.form-input__input:hover {
  border: 1px solid #EE171F;
  padding: 9px 18px 9px 11px;
}

.form-input__input {
  border: none;
  border-radius: 100px;
  width: 206px;
  padding: 10px 12px 10px 12px;
  outline: 0;
}

.form-input__button {
  background-color: #EE171F;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 100px;
  position: absolute;
  left: 174px;
}

.form-input_big input:valid,
.form-input_right input:valid,
.form-input_left input:valid {
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

.form-input_big input:invalid,
.form-input_right input:invalid,
.form-input_left input:invalid {
  background: #DBDBDB;
}

.form-input_big input:focus,
.form-input_right input:focus,
.form-input_left input:focus {
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.form__input_big:focus,
.form__input_left:focus,
.form__input_right:focus {
  padding: 7px 10px 7px 10px;
  font-size: 12px;
  line-height: 14px;
}

.form__input_big:hover,
.form__input_left:hover,
.form__input_right:hover {
  padding: 7px 10px 7px 10px;
}

.form__input_big,
.form__input_left,
.form__input_right {
  outline: 0;
  outline-offset: 0;
  font-size: 12px;
  line-height: 14px;
  width: 100%;
  padding: 7px 10px 7px 10px;
  margin-bottom: 16px;
}

.form__input_big {
  border: none;
  border-radius: 14px;
}

.form__input_left {
  border: none;
  border-radius: 40px 0 0 40px;
}

.form__input_right {
  border: none;
  border-radius: 0 40px 40px 0;
=======
.checkbox {
  width: 16px;
  height: 16px;
  margin-left: 20px;
  background-color: #DBDBDB;

.shop-card__cover {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0, 0.75);
  border-radius: 5px;
  width: 100%;
  height: 0;
}
  
.shop-card:hover .shop-card__cover {
  height: 50%;
  transition-duration: 1s;
}
  
.sc-cover-content {
  padding: 19px 12px;
  line-height: 14px;
  font-size: 12px;
  font-weight: 400;
  height: 50%;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
}
  
.shop-card:hover .sc-cover-content {
  transition-duration: 1s;
}

.client-address {
  background: #FFFFFF;
  border-radius: 35px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  padding: 21px 18px 38px 25px;
  font-size: 12px;
  line-height: 14px;
}

.client-address__header {
  display: flex;
  justify-content: space-between;
}

.client-name {
  font-weight: 600;
}

.user-comment-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.user-comment{
  border: 1px solid darkgray;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.user-comment__info{
  display: flex;
  flex-direction: row;
  max-height: 50px;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 425px){
  .user-comment__info{
    max-height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.user-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.comment-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.user-info__name a{
  text-decoration: none;
}








