.button{
  padding:5px 15px;
  border:1px solid black;
  border-radius: 10px;
  background: aliceblue;
  display: inline-block;
  text-align: center;
  min-width: 150px;
}

.button--full{
  display: block;
}
.heading1 {
  font-size: 36px;
  font-weight: 500;
  font-stretch: condensed;
  color: #000000;
  line-height: 42px;
}

.heading2 {
  font-size: 24px;
  font-weight: 500;
  font-stretch: condensed;
  color: #000000;
  line-height: 28px;
  text-transform: uppercase;
}

.heading3 {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 21px;
}

.heading4 {
  font-size: 16px;
  font-weight: 500;
  font-stretch: condensed;
  color: #000000;
  line-height: 19px;
}

.heading5 {
  font-size: 14px;
  font-weight: 500;
  font-stretch: condensed;
  color: #000000;
  line-height: 16px;
}

.button-basic {
  display: inline-block;
  background: #EE171F;
  color: #FFFFFF;
  padding: 5px 25px;
  border-radius: 11.5px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  position: relative;
}

.button a {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.button-basic_full {
  display: block;
}

.button-basic_white {
  background: #FFFFFF;
  color: #000000;
}

.button-basic_shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.form-input {
  background-color: rgba(189, 165, 165, 0.62);
  padding: 40px;
}

.form-input {
  background-color: rgba(189, 165, 165, 0.62);
  padding: 40px;
}

.form-input__big,
.form-input__right {
  margin-bottom: 10px;
}

.form-input__search {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.form-input__input:focus {
  border: 1px solid #EE171F;
  padding: 9px 18px 9px 11px;
}

.form-input__input:hover {
  border: 1px solid #EE171F;
  padding: 9px 18px 9px 11px;
}

.form-input__input {
  border: none;
  border-radius: 100px;
  width: 206px;
  padding: 10px 12px 10px 12px;
  outline: 0;
}

.form-input__button {
  background-color: #EE171F;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 100px;
  position: absolute;
  left: 174px;
}

.form-input__big input:valid,
.form-input__right input:valid,
.form-input__left input:valid {
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

.form-input__big input:invalid,
.form-input__right input:invalid,
.form-input__left input:invalid {
  background: #DBDBDB;

}

.form-input__big input:focus,
.form-input__right input:focus,
.form-input__left input:focus {
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}


.form-input__big-input:focus,
.form-input__left-input:focus,
.form-input__right-input:focus {
  padding: 7px 10px 7px 10px;
  font-size: 12px;
  line-height: 14px;
}


.form-input__big-input:hover,
.form-input__left-input:hover,
.form-input__right-input:hover {
  padding: 7px 10px 7px 10px;
}

.form-input__big-input,
.form-input__left-input,
.form-input__right-input {
  outline: 0;
  outline-offset: 0;
  font-size: 12px;
  line-height: 14px;
  width: 100%;
  padding: 7px 10px 7px 10px;
}

.form-input__big-input {
  border: none;
  border-radius: 14px;
}

.form-input__left-input {
  border: none;
  border-radius: 40px 0px 0px 40px;
}

.form-input__right-input {
  border: none;
  border-radius: 0px 40px 40px 0px;
}








